@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #fff;
  touch-action: pan-x pan-y;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#dot_background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(0, 0, 0);
  background-position: -8px -18px;
  background-image: radial-gradient(
    circle at 0.5px 0.5px,
    rgb(112, 112, 112) 0.5px,
    transparent 0
  );
  background-size: 15px 15px;
  /* --dot-bg: #000000;
  --dot-color: #666666;
  --dot-size: 1px;
  --dot-space: 12px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color); */
}

.mega-container {
  display: grid;
  grid-template-columns: repeat(4, 100vw);
  grid-template-rows: repeat(5, 100vh);
}
@media (max-width: 1024px) {
  .mega-container {
    grid-template-columns: repeat(4, 200vw);
    grid-template-rows: repeat(5, 200vh);
  }
}

#bottom_blur {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
#right_blur {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
#left_blur {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
#top_blur {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.section {
  width: 100%;
  height: 100%;
  /* Aggiungi ulteriori stili come colore di sfondo, ecc. */
}
