@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-s: clamp(10px, 0.625vw, 12px);
  --font-m: clamp(12px, 0.729vw, 16px);
  --font-l: clamp(16px, 1.146vw, 22px);
  --font-xl: clamp(28px, 2.083vw, 40px);
  --font-xxl: clamp(55px, 4.688vw, 90px);
}

body {
  background-color: #000000;
  color: #fff;
  touch-action: pan-x pan-y;
  font-size: var(--font-m);
  line-height: 1.3;
}
::selection {
  color: #000000;
  background-color: #ffffff91;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.--font-s {
  font-size: var(--font-s);
  line-height: 1.2;
}
.--font-m {
  font-size: var(--font-m);
  line-height: 1.2;
}
.--font-l {
  font-size: var(--font-l);
  line-height: 1.2;
}
.--font-xl {
  font-size: var(--font-xl);
  line-height: 1.2;
}
.--font-xxl {
  font-size: var(--font-xxl);
  line-height: 1.2;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#dot_background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(0, 0, 0);
  background-position: -8px -18px;
  background-image: radial-gradient(
    circle at 0.5px 0.5px,
    rgb(112, 112, 112) 0.5px,
    transparent 0
  );
  background-size: 15px 15px;
  /* --dot-bg: #000000;
  --dot-color: #666666;
  --dot-size: 1px;
  --dot-space: 12px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color); */
}

.supported-backdrop-filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.mega-container {
  display: grid;
  grid-template-columns: repeat(4, 100vw);
  grid-template-rows: repeat(5, 100vh);
}
@media (max-width: 1024px) {
  .mega-container {
    grid-template-columns: repeat(4, 200vw);
    grid-template-rows: repeat(5, 100vh);
  }
}

.section {
  width: 100%;
  height: 100%;
  /* Aggiungi ulteriori stili come colore di sfondo, ecc. */
}

.stroke_text {
  mix-blend-mode: difference;
}

/* #riga_anim {
  animation: tictoc 1s infinite;
  animation-timing-function: steps(2, jump-none);
}
@keyframes tictoc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
